.check{
  height: 35px;
  width: 85px;
  border-radius: 3px;
  margin : 10px;
  background: rgb(66, 200, 66);
  border: none;
  color: white;
  font-size: 20px;

}
.newWord{
  height: 35px;
  width: 115px;
  border-radius: 3px;
  border: none;
  background-color: rgb(19, 198, 139);
  color: white;
  font-size: 20px;
}
.input{
  height: 30px;
  width: 300px;
}
.hint{
  height: 35px;
  width: 105px;
  margin-left: 10px;
  border-radius: 3px;
  border: none;
  background-color: rgb(33, 128, 216);
  color: white;
  font-size: 20px;
}
